# Terminal handling
alias c="clear"

# Terminal stuff
alias plz='sudo $(history -p !!)'
alias please='sudo $(history -p !!)'

# File listings
alias l="ls -la"       # List in long format, include dotfiles
alias ld="ls -ld */"   # List in long format, only directories
alias ls="ls -axG"

# Directory traversal
alias h="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias s="cd ~/Sites"

function makedb() {
	mysql -uroot -e "CREATE DATABASE $1"
}

function rmdb() {
    mysql -uroot -e "DROP DATABASE IF EXISTS $1"
}

function opv() {
	cd ~/Sites/"$1" && mvim
}

function ops() {
	cd ~/Sites/"$1" && subl .
}

function opv() {
	cd ~/Sites/"$1" && code .
}

alias pubkey="pbcopy < ~/.ssh/id_rsa.pub"

alias pa="php artisan"
alias boom="php artisan migrate:refresh --seed"

# Composer
alias cda="composer dumpautoload"

# Homestead
alias hedit="cd ~/.homestead && sublime Homestead.yaml && cd -"
alias homestead='function __homestead() { (cd ~/Homestead && vagrant $*); unset -f __homestead; }; __homestead'

# Testing
alias phpunit="vendor/bin/phpunit"
alias behat="vendor/bin/behat"
alias tf="vendor/bin/phpunit --filter"
alias duskf="php artisan dusk --filter"

# Git
alias gc="git checkout"

# Gulp
alias glp="gulp"
alias glpw="gulp watch"

# Yarn
alias yr="yarn run"
alias nr="npm run"

### Docker ###
alias dcc="docker container"
alias dockerstop="docker kill $(docker ps -q)"


# Node
alias rebuildsass="npm rebuild node-sass"
alias removenodemodules="find . -name 'node_modules' -type d -prune -exec rm -rf '{}' +"
alias removelockfiles="find . -name 'package-lock.json' -prune -exec rm -rf '{}' +"

# Sublime
alias se="subl"
# alias sublime="subl"

# Networking
alias edithosts="se /etc/hosts"

# Mod dot
alias editbash="cd ~ && sublime .bash_profile && cd -"
alias addalias="cd ~ && sublime .aliases && cd -"
alias reloadbash="cd ~ && . .bash_profile && cd -"

### File system ###

# Remove .DS_store files
alias killDS='find . -name *.DS_Store -type f -delete'

# Create directory and enter it
function cdir() {
	mkdir $1 && cd $1
}



### ###
alias maketags='ctags -R --exclude=node_modules --PHP-kinds=cfi --regex-php="/^[ \t]*trait[ \t]+([a-z0_9_]+)/\1/t,traits/i"'
