# Terminal handling
alias c="clear"

# File listings
alias l="ls -la"       # List in long format, include dotfiles
alias ld="ls -ld */"   # List in long format, only directories
alias ls="ls -axG"

# Directory traversal
alias h="cd ~"
alias ..="cd .."
alias ...="cd ../.."


function makedb() {
	mysql -uroot -e "CREATE DATABASE $1"
}

function opv() {
	cd ~/Sites/"$1" && mvim
}

function ops() {
	cd ~/Sites/"$1" && subl .
}

alias pa="php artisan"
alias boom="php artisan migrate:refresh --seed"

# Composer
alias cda="composer dumpautoload"

# Homestead
alias hedit="cd ~/.homestead && sublime Homestead.yaml && cd -"
alias homestead='function __homestead() { (cd ~/Homestead && vagrant $*); unset -f __homestead; }; __homestead'

# Testing
alias phpunit="vendor/bin/phpunit"
alias behat="vendor/bin/behat"
alias tf="vendor/bin/phpunit --filter"
alias duskf="php artisan dusk --filter"

# Gulp
alias glp="gulp"
alias glpw="gulp watch"

# Yarn
alias yr="yarn run"
alias nr="npm run"

### Docker ###
alias dcc="docker container"
alias dockerstop="docker kill $(docker ps -q)"


# Node
alias rebuildsass="npm rebuild node-sass"

# Sublime
alias se="subl"
alias sublime="subl"

# Networking
alias edithosts="sudo mvim /etc/hosts"

# Mod dot
alias editbash="cd ~ && sublime .bash_profile && cd -"
alias addalias="cd ~ && sublime .aliases && cd -"
alias reloadbash="cd ~ && . .bash_profile && cd -"

### File system ###

# Remove .DS_store files
alias killDS='find . -name *.DS_Store -type f -delete'

# Create directory and enter it
function cdir() {
	mkdir $1 && cd $1
}



### ###
alias maketags='ctags -R --exclude=node_modules --PHP-kinds=cfi --regex-php="/^[ \t]*trait[ \t]+([a-z0_9_]+)/\1/t,traits/i"'

