snippet m
margin: $1
endsnippet

snippet mt
margin-top: $1
endsnippet

snippet ml
margin-left: $1
endsnippet

snippet mb
margin-bottom: $1
endsnippet

snippet mr
margin-right: $1
endsnippet


snippet p
padding: $1
endsnippet

snippet pt
padding-top: $1
endsnippet

snippet pl
padding-left: $1
endsnippet

snippet pb
padding-bottom: $1
endsnippet

snippet pr
padding-right: $1
endsnippet

snippet di
display: ${1:block}
endsnippet
